<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.honestmc.ems">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />




    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/honestmcicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/honestmcicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.EMSapp"
        tools:targetApi="31" >

        <activity
            android:name="com.honestmc.ems.View.Activity.LaunchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.honestmc.ems.View.Activity.ConnectEMSActivity"
            android:launchMode="singleTask"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"
         >
        </activity>
        <activity
            android:name="com.honestmc.ems.View.Activity.EditActivity"
            android:launchMode="singleTask"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">

        </activity>
        <activity
            android:name="com.honestmc.ems.View.Activity.UserBrowseActivity"
            android:launchMode="singleTask"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>
        <activity
            android:name="com.honestmc.ems.View.Activity.FileBrowseActivity"
            android:launchMode="singleTask"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"
            >

        </activity>
        <activity
            android:name="com.honestmc.ems.View.Activity.VideoPlayActivity"
            android:launchMode="singleTask"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>
</manifest>